<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5433/HitPoint</property>
<!--        <property name="connection.url">jdbc:postgresql://pg:5432/studs</property>-->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
<!--        <property name="connection.username">s283840</property> &lt;!&ndash; DB User &ndash;&gt;-->
<!--        <property name="connection.password">fkp676</property> &lt;!&ndash; DB Password &ndash;&gt;-->
        <property name="connection.password">password</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <mapping class="model.entity.PointEntity"/>

    </session-factory>
</hibernate-configuration>